#turtle_left
{
	float: left;
	border-style: inset;
	margin: 5px;
	padding: 3px;
}

#cat_right
{
	float: right;
	border-style: inset;
	margin-right: 7px;
	padding: 2px;
}

.div3
{
	background-color: orange;
}

.div4
{
	background-color: yellow;
}

.clear-it
{
	clear: both;
}
