.big-letter
{
	float: left;
	font-family: Georgia;
	font-size: 75px;
	line-height: 60px;
}

div
{
	width: 200px;
	height: 200px;
    padding: 10px;
    border: 3px dashed gray;
    margin: 0px;
    background-color: lightblue;
}

div div
{
	max-width: 100px;
	height: 100px;
    padding: 10px;
    border: 3px dashed gray;
    margin: 0px;
    background-color: white;	
}

.inner1
{
	margin: 10px;
	padding: 10px;
	float: right;
}

.inner2
{
	margin: 10px;
	padding: 0px;
	float: left;
}

.inner3
{
	margin-top: 40px;
	margin-right: 0px;
	float: right;
}

/*
(3) Outer boxes are styled appropriately
(1) Use at least one grouped selector
(3) Padding for all inner boxes is correct
(3) Margins for all inner boxes is correct
(3) Float for all inner boxes is correct
(1) First letter of intro paragraph has special styling (must use float, spacing may vary)
*/